/*/*/target
/*/*/repository/
/*.DS_Store
/Console/nbproject/private/
/*/*/.idea
/*.idea
/*/*/.iml
/*/target
/*/*/repository
/*/repository
/*/logs
/*/*/logs
logs
/*/*/log
/*/log
/*/*/dist
/*/dist
.idea
/*/alf_data_dev
